html {
  touch-action: manipulation;
  font-size: 15px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}
.invisible {
  background: transparent;
  border: none !important;
  color: transparent;
}
#number {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.normalButton {
  background: white;
  border-radius: 3px;
  border: 2px solid black;
  font-size:15px
  color: black;
  width: 100px;
  height: 50px;
  text-align: center;
}
.tabButton {
  background: white;
  border-radius: 3px;
  border: 2px solid black;
  font-size:15px
  color: black;
  width: 120px;
  height: 45px;
  text-align: center;
}
#options-row {
  display: flex;
  margin-bottom: 20px;
}
#options-row :not(:first-child) {
  margin-left: 20px;
}
#tab1 #multiplierListMain div {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
#tab1 div > * {
  margin-right: 25px;
}
/*.buyable{background-color:#55ff55};*/